<li>
    <h3 class="navigation-title">Navigation</h3>
</li>
<li class="active">
    <a href="#/"><i class="fa fa-home"></i> <span>Dashboard</span></a>
</li>
<li class="menu-list">
	<a id="records" href="" ng-click="sb.sidebarClick('#records')"><i class="fa fa-laptop"></i><span>Students</span></a>
	<ul class="child-list">
		<li><a href="#/admin/enroll"> Enrollment</a></li>
		<li><a href="#/admin/attendance"> Attendance</a></li>
		<li><a href="#/admin/records/{{sb.user.objectId}}"> Reports</a></li>
		<li><a href="#/admin/demograph/{{sb.user.objectId}}"> Demographics</a></li>
	</ul>
</li>
<li class="menu-list">
	<a href="" id="parents" ng-click="sb.sidebarClick('#parents')"><i class="fa fa-book"></i><span>Parents</span></a>
	<ul class="child-list">
		<li><a href="#/parents">View Parents</a></li>
	</ul>
</li>
<li class="menu-list">
	<a href="" id="curriculum" ng-click="sb.sidebarClick('#curriculum')"><i class="fa fa-book"></i><span>Curriculum</span></a>
	<ul class="child-list">
		<li><a href="#/admin/timetable/{{sb.user.objectId}}"> Time Table</a></li>
		<li><a href="#/admin/events/{{sb.user.objectId}}"> Calendar</a></li>
		<li><a href="#/news">Newsletter &amp; Bulletin</a></li>
	</ul>
</li>
<li><h3 class="navigation-title">Others</h3></li>
<li class="menu-list">
	<a href="" id="staff-man" ng-click="sb.sidebarClick('#staff-man')"><i class="fa fa-book"></i><span>Staff Management</span></a>
	<ul class="child-list">
		<li><a href="#/staff">Staff Members</a></li>
	</ul>
</li>
<li class="menu-list">
	<a href="" id="financial" ng-click="sb.sidebarClick('#financial')"><i class="fa fa-book"></i><span>Financials</span></a>
	<ul class="child-list">
		<li><a href="#/admin/finance/stat"> Statistics</a></li>
		<li><a href="#/admin/finance/lookup"> Student Look Up</a></li>
	</ul>
</li>
<li><h3 class="navigation-title">Extra</h3></li>
<li class="menu-list">
	<a id="messages" href="javascript:;" ng-click="sb.sidebarClick('#messages')"><i class="fa fa-envelope-o"></i><span>Messages <span class="label noti-arrow bg-danger pull-right">4 Unread</span></span></a>
	<ul class="child-list">
		<li><a href="inbox.html"> Inbox</a></li>
		<li><a href="inbox-details.html"> View Mail</a></li>
		<li><a href="inbox-compose.html"> Compose Mail</a></li>
	</ul>
</li>