<li>
    <h3 class="navigation-title">Navigation</h3>
</li>
<li class="active">
    <a href="#/"><i class="fa fa-home"></i> <span>Dashboard</span></a>
</li>
<li>
    <a href="#/class/new"><i class="fa fa-home"></i> <span>Add Class</span></a>
</li>
<li class="menu-list">
	<a id="students" href="" ng-click="sb.sidebarClick('#students')"><i class="fa fa-laptop"></i><span>Students</span></a>
	<ul class="child-list">
		<li><a href="#/admin/enroll"> Enrollment</a></li>
		<li><a href="#/admin/attendance"> Attendance</a></li>
		<li><a href="#/admin/reports"> Reports</a></li>
		<li><a href="#/admin/demography"> Demographics</a></li>
	</ul>
</li>
<li class="menu-list">
	<a href="" id="parents" ng-click="sb.sidebarClick('#parents')"><i class="fa fa-book"></i><span>Parents</span></a>
	<ul class="child-list">
		<li><a href="#/parents">View Parents</a></li>
	</ul>
</li>
<li><h3 class="navigation-title">Others</h3></li>
<li class="menu-list">
	<a href="" id="staff-man" ng-click="sb.sidebarClick('#staff-man')"><i class="fa fa-book"></i><span>Staff Management</span></a>
	<ul class="child-list">
		<li><a href="#/staff">Staff Members</a></li>
	</ul>
</li>
<li class="menu-list">
	<a href="" id="financial" ng-click="sb.sidebarClick('#financial')"><i class="fa fa-book"></i><span>Financials</span></a>
	<ul class="child-list">
		<li><a href="#/admin/finance/stat"> Statistics</a></li>
		<li><a href="#/admin/finance/lookup"> Student Look Up</a></li>
	</ul>
</li>
<li><h3 class="navigation-title">Extra</h3></li>
<li class="menu-list">
	<a id="messages" href="#/mail" ng-click="sb.sidebarClick('#messages')"><i class="fa fa-envelope-o"></i>
		<span>Messages 
			<span ng-if="sb.mail.unread > 0" class="label noti-arrow bg-danger pull-right">{{sb.mail.unread}} Unread</span>
		</span>
	</a>
</li>