// Placed js at the end of the document so the pages load faster
script(src='/js/jquery-1.10.2.min.js')
// jquery-ui
script(src='/js/jquery-ui/jquery-ui-1.10.1.custom.min.js', type='text/javascript')
script(src='/js/jquery-migrate.js')
script(src='/js/bootstrap.min.js')
script(src='/js/modernizr.min.js')
// Nice Scroll
script(src='/js/jquery.nicescroll.js', type='text/javascript')
// right slidebar
script(src='/js/slidebars.min.js')
// switchery
script(src='/js/switchery/switchery.min.js')
script(src='/js/switchery/switchery-init.js')
// flot chart
script(src='/js/flot-chart/jquery.flot.js')
script(src='/js/flot-chart/flot-spline.js')
script(src='/js/flot-chart/jquery.flot.resize.js')
script(src='/js/flot-chart/jquery.flot.tooltip.min.js')
script(src='/js/flot-chart/jquery.flot.pie.js')
script(src='/js/flot-chart/jquery.flot.selection.js')
script(src='/js/flot-chart/jquery.flot.stack.js')
script(src='/js/flot-chart/jquery.flot.crosshair.js')
// earning chart init
script(src='/js/earning-chart-init.js')
// Sparkline Chart
script(src='/js/sparkline/jquery.sparkline.js')
script(src='/js/sparkline/sparkline-init.js')
// easy pie chart
script(src='/js/jquery-easy-pie-chart/jquery.easy-pie-chart.js')
script(src='/js/easy-pie-chart.js')
// vectormap
script(src='/js/vector-map/jquery-jvectormap-1.2.2.min.js')
script(src='/js/vector-map/jquery-jvectormap-world-mill-en.js')
script(src='/js/dashboard-vmap-init.js')
// Icheck
script(src='/js/icheck/skins/icheck.min.js')
script(src='/js/todo-init.js')
// jquery countTo
script(src='/js/jquery-countTo/jquery.countTo.js', type='text/javascript')
// owl carousel
script(src='/js/owl.carousel.js')
// common scripts for all pages
script(src='/js/scripts.js')
script(type='text/javascript').
  $(document).ready(function() {
  //countTo
  $('.timer').countTo();
  //owl carousel
  $("#news-feed").owlCarousel({
  navigation : true,
  slideSpeed : 300,
  paginationSpeed : 400,
  singleItem : true,
  autoPlay:true
  });
  });
  $(window).on("resize",function(){
  var owl = $("#news-feed").data("owlCarousel");
  owl.reinit();
  });
