// sidebar left start
.sidebar-left
  // responsive view logo start
  .logo.dark-logo-bg(class='visible-xs-* visible-sm-*')
    a(href='index.html')
      img(src='img/logo-icon.png', alt='')
      // <i class="fa fa-maxcdn"></i>
      span.brand-name SMS
  // responsive view logo end
  .sidebar-left-info
    // visible small devices start
    .search-field   
    // visible small devices end
    // sidebar nav start
    ul.nav.nav-pills.nav-stacked.side-navigation
      li
        h3.navigation-title Navigation
      li.active
        a(href='/')
          i.fa.fa-home
          span Dashboard
      //- For Admins and Teachers
      if user.role == 'admin' || user.role == 'teacher'
        li.menu-list
          a(href='')
            i.fa.fa-laptop
            span Students
          ul.child-list
            if user.role == 'admin'
              li
                a(href='boxed-layout.html')  Enrollment
            li
              a(href='collapsed-menu.html')  Attendance
            li
              a(href='blank-page.html')  Reports
            li
              a(href='different-theme-layouts.html')  Demographic
            if user.role == 'teacher'
              li
                a Class List
      //- For Admins and Teachers
      if user.role == 'admin' || user.role == 'teacher'
        li.menu-list
          a(href='')
            i.fa.fa-laptop
            span Parents
          ul.child-list
            li
              a(href='boxed-layout.html')  Add Parent
            li
              a(href='boxed-layout.html')  Link Parent
            li
              a Statistics
      //- For Parents
      if user.role == 'parent'
        li.menu-list
          a(href='')
            i.fa.fa-laptop
            span Child / Ward
          ul.child-list
            li
              a(href='collapsed-menu.html')  Attendance
            li
              a(href='blank-page.html')  Reports
            li
              a(href='different-theme-layouts.html')  Demographic
      //- For Student
      if user.role == 'user'
        li.menu-list
            a(href='')
              i.fa.fa-laptop
              span My Records
            ul.child-list
              li
                a(href='collapsed-menu.html')  My Attendance
              li
                a(href='blank-page.html')  My Reports
      //- For Student
      li.menu-list
        a(href='')
          i.fa.fa-book
          span Curriculum
        ul.child-list
          li
            a(href='general.html')  Class Work
          if user.role == 'admin' || user.role == 'teacher'
            li
              a Add Class Work
          li
            a(href='buttons.html')  Time Table
          if user.role == 'admin' || user.role == 'teacher'
            li
              a Add Time Table Schedule
          li
            a(href='toastr.html')  Calendar
          if user.role == 'admin' || user.role == 'teacher'
            li
              a Add Calendar Event
          li
            a Newsletter & Bulletin
          if user.role == 'admin' || user.role == 'teacher'
            li
              a Add Newsletter / Bulletin
      li
        h3.navigation-title Extra
      li.menu-list
        a(href='javascript:;')
          i.fa.fa-envelope-o
          span
            | Messages 
            span.label.noti-arrow.bg-danger.pull-right 4 Unread
        ul.child-list
          li
            a(href='inbox.html')  Inbox
          li
            a(href='inbox-details.html')  View Mail
          li
            a(href='inbox-compose.html')  Compose Mail
    // sidebar nav end
    // sidebar left end
