<toaster-container></toaster-container>
<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<header class="panel-heading">
				search
			</header>
			<div class="panel-body">
				<div class="col-md-12" search-box model="admPCrtl.searchQ"></div>
				<div class="noti-information notification-menu">
					<div class="parent-list notification-list mail-list not-list" 
						dir-paginate="p in admPCrtl.parents
						| itemsPerPage: 4" ng-click="admPCrtl.onParentClick(p.objectId)">
						<a class="single-mail">
							<span class="icon bg-primary">
								<i class="fa fa-user"></i>
							</span>
							{{p.firstName}} {{p.lastName}}
							<p>{{p.objectId}}</p>
							<span  class=" read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
								<span ng-if="p.profile" class="label label-success">Linked</span>
							    <i ng-class="{'fa-circle': p.isActive, 'fa-circle-o': !p.isActive}" class="fa"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-controller="AdminParentCtrl as pCtrl">
		<div class="panel">
			<div class="panel">
				<header class="panel-heading">
					Activate Parent
					<span ng-if="pCtrl.parent.isActive" class="pull-right label label-success">Active</span>
				</header>
				<section class="panel-body">
					<div class="row" ng-if="pCtrl.parent">
						<div class="col-xs-6">
							<h3 class="text-capitalize">{{pCtrl.parent.firstName}} {{pCtrl.parent.lastName}}</h3>
							<strong>Email</strong>
							<address>
								<p>{{pCtrl.parent.email}}</p>
							</address>
							<strong>Address</strong>
							<address>
								{{pCtrl.parent.address}}
							</address>
						</div>
						<div class="col-xs-6">
							<img gravatar-src="pCtrl.parent.email" gravatar-size="100" class="img-responsive img-thumbnail pull-right link-profile-img">
						</div>
					</div>
					<div class="row" ng-if="pCtrl.parent">
						<div class="col-xs-12">
							<span class="name">
	              <b>
	              	Activate Account
	              </b>
	          	</span>
	          	<span class="thumb-small pull-right">
			        	<span ng-click="pCtrl.toggleActivate(pCtrl.parent.objectId, pCtrl.parent.isActive)" id="{{pCtrl.parent.objectId}}" ng-class="{'check':pCtrl.parent.isActive}" class="switch switch-default green">
							    <small></small>
							    <span class="switch-text">
							    	<span class="on ng-binding"></span>
							    	<span class="off ng-binding"></span>
						    	</span>
								</span>
							</span>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
