<toaster-container></toaster-container>

<new-user-modal title="Add New Staff Member" model="admSCrtl.newStaff"></new-user-modal>

<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<header class="panel-heading">
				Search
				<a class="btn-xs btn btn-info pull-right" sclpop-user-modal>Add Staff</a>
			</header>
			<div class="panel-body">
				<div class="col-md-12" search-box model="admSCrtl.searchQ"></div>

				<!-- Staff list -->
				<div class="noti-information notification-menu">
					<div class="parent-list notification-list mail-list not-list" 
						dir-paginate="s in admSCrtl.staff
						| filter: admSCrtl.searchQ
						| itemsPerPage: 4" ng-click="admSCrtl.onStaffClick(s.objectId)">
						<a class="single-mail">
							<span class="icon bg-primary">
								<i class="fa fa-user"></i>
							</span>
							{{s.firstName}} {{s.lastName}}
							<p>{{p.objectId}}</p>
							<span  class=" read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
								<span ng-if="s.profile.position" class="label label-success">Linked</span>
							    <i ng-class="{'fa-circle': s.isActive, 'fa-circle-o': !s.isActive}" class="fa"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
			<!-- END Staff list -->
			<div class="panel-footer">
				<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
	</div>
	<!-- Staff Panel -->

	<div id="staff-panel" class="col-md-6" ng-if="admSCrtl.currentActive">
		<div class="panel">
			<header class="panel-heading">
				Staff Profile
				<span ng-if="admSCrtl.currentActive.isActive" class="pull-right label label-success">Active</span>
			</header>
			<section class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<h3 class="text-capitalize">{{admSCrtl.currentActive.firstName}} {{admSCrtl.currentActive.lastName}}</h3>
						<strong>Email</strong>
						<address>
							<p>{{admSCrtl.currentActive.email}}</p>
						</address>
						<strong>Address</strong>
						<address>
							{{admSCrtl.currentActive.address}}
						</address>
					</div>
					<div class="col-xs-6">
						<img gravatar-src="admSCrtl.currentActive.email" gravatar-size="100" class="img-responsive img-thumbnail pull-right link-profile-img">
					</div>
				</div>
				<div class="row s-row">
					<div class="col-xs-12">
						<span class="name">
              <b>
              	Activate Account
              </b>
          	</span>
          	<span class="thumb-small pull-right">
		        	<span ng-click="admSCrtl.toggleActivate(admSCrtl.currentActive.objectId, admSCrtl.currentActive.isActive)" id="{{admSCrtl.currentActive.objectId}}" ng-class="{'check':admSCrtl.currentActive.isActive}" class="switch switch-default green">
						    <small></small>
						    <span class="switch-text">
						    	<span class="on ng-binding"></span>
						    	<span class="off ng-binding"></span>
					    	</span>
							</span>
						</span>
					</div>
				</div>

				<div class="row" ng-if="admSCrtl.currentActive.isActive">
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2">Position</label>
						<div class="col-lg-10">
							<select ng-model="admSCrtl.currentActive.profile.position" class="form-control m-b-10">
								<option value="principal">Principal</option>
								<option value="classTeacher">Teacher</option>
								<option value="non-acad">Non-Academic</option>
								<option value="burser">Burser</option>
							</select>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>