<toaster-container></toaster-container>
<new-user-modal title="Add New Student" model="admCrtl.newStudent"></new-user-modal>
<div class="row">
	<div class="col-md-6">
		<div class="panel"  students-array="admCrtl.students">
			<header class="panel-heading">
				search
				<a class="btn-xs btn btn-info pull-right" sclpop-user-modal>Add Student</a>
			</header>
			<div class="panel-body">
				<div class="col-md-12" search-box model="admCrtl.searchQ"></div>
				<div class="noti-information notification-menu">
					<div class="student-list notification-list mail-list not-list" 
						dir-paginate="s in admCrtl.students 
						| filter: admCrtl.searchQ
						| itemsPerPage: 4" ng-dblclick="admCrtl.onStudentClick(s)">
						<a class="single-mail">
							<span class="icon bg-primary">
								<i class="fa fa-user"></i>
							</span>
							{{s.firstName}} {{s.lastName}}
							<p>{{s.objectId}}</p>
							<span  class=" read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
								<span ng-if="s.profile" class="label label-success">Linked</span>
							    <i ng-class="{'fa-circle': s.isActive, 'fa-circle-o': !s.isActive}" class="fa"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel">
			<multi-step-container ng-if="admCrtl.loaded" steps="admCrtl.steps" class="simple-prev-next">
				<div class="panel-heading">
					{{$getActiveStep().title}}
					<span ng-if="admCrtl.student.profile" class="pull-right label label-success">Linked</span>
				</div>
				<div class="panel-body w-setting">
					<main step-container></main>
				</div>
				<div class="panel-footer">
					<div class="pull-right">
						<button ng-if="!$isFirst()" class="btn btn-primary" ng-click="$previousStep()">
							<span class="fa fa-chevron-left"></span>
							Activate Account
						</button>
						<button ng-disabled="$isLast() || !admCrtl.student.isActive" class="btn btn-success" ng-click="$nextStep()">
							Link Account
							<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</multi-step-container>
		</div>
	</div>
</div>
