doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="author", content="Thompson Edolo")
		meta(name="keyword", content="slick, flat, dashboard, bootstrap, admin, template, theme, responsive, fluid, retina")
		meta(name="description", content="")
		link(rel="shortcut icon", href="/img/logo.png", type="image/png")

		include ./includes/styles.pug


	body.body-500
		section.error-wrapper
			i.icon-500
			.text-center
				h2.green-bg Something went wrong
			p Why not try refreshing your page? or you can contact <a href="/">support</a>
			a(href="/", class="back-btn") Back to Home