<div ng-if="admCrtl.loaded" class="row">
	<div class="col-xs-6">
	<h3>{{admCrtl.student.firstName}} {{admCrtl.student.lastName}}</h3>
	<p><b>Username:</b> {{admCrtl.student.username}}</p>
	<p><b>Email:</b> {{admCrtl.student.email}}</p>
	<p><b>Student ID:</b> {{admCrtl.student.objectId}}</p>
	<p><b>Account Activated:</b> {{admCrtl.student.isActive}}</p>
		
	</div>
	<div class="col-xs-6">
		<img ng-src="https://unsplash.it/128/128/?random" alt="" class="img-responsive img-thumbnail">
	</div>
</div>
<div ng-if="admCrtl.loaded" class="row">
	<div class="col-md-12">
		<ul class="team-list chat-list-side info statistics border-less-list setting-list">
			<li>
				<div class="inline">
          <span class="name">
              <b>
              	Activate Account
              </b>
          </span>
        </div>
        <span class="thumb-small">
        	<span ng-click="admCrtl.toggleActivate(admCrtl.student.objectId, admCrtl.student.isActive)" id="{{admCrtl.student.objectId}}" ng-class="{'check':admCrtl.student.isActive}" class="switch switch-default green">
				    <small></small>
				    <span class="switch-text">
				    	<span class="on ng-binding"></span>
				    	<span class="off ng-binding"></span>
			    	</span>
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>
