<div class="row">
	<div class="col-lg-6 col-sm-12">
		<section class="panel">
			<header class="panel-heading head-border">
				Attendance
			</header>
			<table class="table">
			 	<thead>
			 		<tr>
			 		 	<th>#</th>
			 		 	<th>Day</th>
			 		 	<th>Status</th>
			 		 </tr> 
			 	</thead>
			 	<tbody>
			 		<tr ng-repeat="a in rcCrtl.currentStudent.attendance" ng-class="a.status ? 'success' : 'danger'">
			 			<th></th>
			 			<td>{{a.createdAt | date:'MM/dd/yyyy'}}</td>
			 			<td ng-if="a.status">Present</td>
			 			<td ng-if="!a.status">Absent</td>
			 		</tr>
			 	</tbody>
			 </table> 
		</section>
	</div>
</div>