extends ../layout.jade

block head
	title #{pageTitle} | #{action}

block header
	if isAuthenticated
		include ../includes/header.jade
	else
		include ../includes/header-anon.jade

block content
	.container
		h1 Hello
		p You are #{isAuthenticated}