extends ../layout.jade
block body
	body(class="login-body")
		block content
			.login-logo
				img(src="/img/login_logo.png", alt="")
			h2.form-heading login
			.container.log-row
				form.form-signin(method="post")
					.login-wrap
						if error
							.alert.alert-block.alert-danger.fade.in(role="alert")
								button.close(type="button", data-dismiss="alert", aria-label="Close")
									span(aria-hidden="true") &times;
								p #{error.message}
						input.form-control(name="username",type='text', placeholder='Username', autofocus='')
						input.form-control(name="password",type='password', placeholder='Password')
						button.btn.btn-lg.btn-success.btn-block(type='submit') LOGIN
					label.checkbox-custom.check-success
						input#checkbox1(type='checkbox', value='remember-me')
						label(for='checkbox1') Remember me
						a.pull-right(data-toggle='modal', href='#forgotPass')  Forgot Password?
					.registration
						| Don't have an account yet?
						a(href='register')
							|     Create an account
				// Modal
				#forgotPass.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
								h4.modal-title Forgot Password ?
							.modal-body
								p Enter your e-mail address below to reset your password.
								input.form-control.placeholder-no-fix(type='text', name='email', placeholder='Email', autocomplete='off')
							.modal-footer
								button.btn.btn-default(data-dismiss='modal', type='button') Cancel
								button.btn.btn-success(type='button') Submit
				// modal


