extends ../layout.pug
block body
	body(class="login-body")
		block content
			.login-logo
				img(src="/img/login_logo.png", alt="")
			h2.form-heading Register
			.container.log-row
				form.form-signin(method="post")
					if error
						.alert.alert-block.alert-danger.fade.in(role="alert")
							button.close(type="button", data-dismiss="alert", aria-label="Close")
								span(aria-hidden="true") &times;
							p #{error.message}
					p Enter your personal details below
					input.form-control(type='text', name="firstName", placeholder='First Name', autofocus='', required)
					input.form-control(type='text', name="lastName", placeholder='Surname Name', autofocus='', required)
					input.form-control(type='text', name="otherName", placeholder='Other Name', autofocus='', required)
					textarea.form-control(type='text', name="address", placeholder='Address', autofocus='', required)
					input.form-control(type='email', name="email", placeholder='Email', autofocus='', required)
					input.form-control(type='text', name="city", placeholder='City/Town', autofocus='', required)
					.radio-custom.radio-success
						input#male(type='radio', value='male', checked='checked', name='sex')
						label(for='male') Male
						input#female(type='radio', value='female', name='sex')
						label(for='female') Female
					p  Enter your account details below
					input.form-control(type='text', name="username", placeholder='User Name', autofocus='', required)
					input.form-control(type='password', name="password", placeholder='Password', required)
					input.form-control(type='password', name="confirmation", placeholder='Re-type Password', required)
					label.checkbox-custom.check-success
						input#checkbox1(type='checkbox', name="agreement", value='agree this condition')
						label(for='checkbox1') I agree to the Terms of Service and Privacy Policy
					button.btn.btn-lg.btn-success.btn-block(type='submit') Submit
					.registration.m-t-20.m-b-20
						| Already Registered.
						a(href='/home/login')
							| 		Login