<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-show="!vm.isUpdating" class="close" ng-click="vm.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit {{vm.item.subject.title}}</h4>
      </div>
      <div class="modal-body">
        <form name="subject" role="form">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Score:</label>
            <input type="number" ng-min="0" ng-max="100" class="form-control" id="recipient-name" ng-model="vm.item.score">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-show="!vm.isUpdating" ng-click="vm.hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-disabled="subject.$pristine || subject.$invalid || vm.isUpdating">{{vm.updateTitle}}</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Score</th>
      <th>Remark</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="r in vm.r" ng-class="{'danger' : r.score <= 39 && r.withExam, 'warning':r.score <= 45 && r.score > 39  && r.withExam, 'success' : r.score <= 65 && r.score > 45  && r.withExam, 'success' : r.score > 65 && r.withExam, 'info': !r.withExam}" >
      <td>{{r.subject.title}}</td>
      <td>{{r.score}}</td>
      <td ng-score="{{r.score}}" exam="{{r.withExam}}"></td>
      <td><a id="r-edit" ng-show="vm.user.role ==='admin' || vm.user.role ==='teacher'" ng-click="vm.show($index, r)">Edit</a></td>
    </tr>
  </tbody>
</table>