extends ../layout.jade

block head
	title #{pageTitle} | #{action}

block body
	body.sticky-header
		section
			block sidebar
				include ../includes/sidebar.jade
			.body-content
				include ../includes/header.jade
				div #{user.role}
				footer
					| 2016 &copy; #{pageTitle} by Glassstones Solutions.