<a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span ng-if="hd.mail.unread > 0" class="badge bg-primary">{{hd.mail.unread}}</span>
        </a>

        <div class="dropdown-menu dropdown-title">
            <div class="title-row">
                <h5 class="title purple">
                    You have {{hd.mail.unread}} Unread Mail
                </h5>
                <a href="#/mail" class="btn-primary btn-view-all">View all</a>
            </div>
            <div class="notification-list mail-list">
                <a href="#/mail/{{mail.objectId}}" class="single-mail" ng-repeat="mail in hd.mail.mails">
                    <span class="icon bg-primary">
                        {{mail.from.firstName | limitTo:1| uppercase}}
                    </span>
                    <strong>{{mail.from.firstName +" "+mail.from.lastName}}</strong>
                    <small> Just Now</small>
                    <p>
                        <small>{{mail.subject}}</small>
                    </p>
                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-circle"></i>
                    </span>
                </a>
            </div>
        </div>