<!--mail inbox start-->
	<aside class="col-md-3">
    <div class="m-title" ng-if="mailCtrl.isInbox">
      <h3>Inbox</h3>
      <span>{{mailCtrl.unRead}} unread mail</span>
    </div>
    <div class="m-title" ng-if="!mailCtrl.isInbox">
      <h3>Sent</h3>
      <span>Outbox messages</span>
    </div>
    <div class="inbox-body">
        <a class="btn btn-compose" href="#/mail/compose">
            Compose
        </a>
    </div>
    <ul class="inbox-nav inbox-divider">
        <li ng-click="mailCtrl.toggle(0)" ng-class="{active : mailCtrl.isInbox}">
            <a>
            	<i class="fa fa-inbox"></i> 
            	Inbox <span class="label label-danger pull-right">{{mailCtrl.inbox.length}}</span>
          	</a>
        </li>
        <li ng-click="mailCtrl.toggle(1)" ng-class="{active : !mailCtrl.isInbox}">
            <a>
            	<i class="fa fa-envelope"></i> 
            	Sent Mail <span class="label label-danger pull-right">{{mailCtrl.outbox.length}}</span>
          	</a>
        </li>
    </ul>
	</aside>
	<aside class="col-md-9" style="height: 1200px" ui-view />
<!--mail inbox end-->