<div class="inbox-body">
    <div class="compose-mail">
        <form class="form-horizontal" ng-model="mailCCtrl.message">
            <div class="form-group">
                <label for="to" class="col-sm-1 control-label">To</label>
                <div class="col-sm-11">
                    <input type="text" tabindex="1" id="to" class="form-control" ng-model="mailCCtrl.message.toId">
                </div>
            </div>

            <div class="form-group">
                <label for="subject" class="col-sm-1 control-label">Subject</label>
                <div class="col-sm-11">
                    <input type="text" tabindex="1" id="subject" class="form-control" ng-model="mailCCtrl.message.subject">
                </div>
            </div>

            <div class="compose-editor form-group">
                <label for="subject" class="col-sm-1 control-label">Message</label>
                <div class="col-sm-11">
                    <textarea class="wysihtml5 form-control" rows="9" ng-model="mailCCtrl.message.text"></textarea>
                </div>
                <div class="col-sm-6 col-md-offset-1 m-t-20">
                    <input id="file-0" class="file" type="file" accept=".pdf,.jpg, .png, .doc, .docx" ng-model="mailCCtrl.attachment" multiple=true>
                </div>
            </div>
            <hr/>

        </form>
    </div>
    <div class="compose-btn pull-right">
        <a class="btn  btn-success" ng-click="mailCCtrl.send()"> Send Mail</a>
    </div>
</div>