<!-- {{mailCtrl.mail}} -->

<div class="inbox-body">
  <div class="heading-inbox row">

      <div class="col-md-12">
          <h4> {{mail.subject}}</h4>
      </div>



  </div>
  <div class="sender-info">
    <div class="row">
      <div class="col-md-6 col-xs-12">
          <div class="pull-left">
              <img alt="" gravatar-src="mail.from.email">
          </div>
          <div class="s-info">
              <strong>{{mail.from.firstName + " "+ mail.from.lastName}}</strong>
              <span>[{{mail.from.email}}]</span>
          </div>

      </div>
      <div class="col-md-6 col-xs-12">
          <p class="date pull-right"> {{mail.createdAt | date:'medium'}} </p>

      </div>
    </div>
  </div>
  <div class="view-mail">
    {{mail.message.text}}
  </div>
  <div class="reply-mail m-b-20">
    <form action="">
      <textarea ng-model="mailCtrl.newMessage.text" class="form-control" name="" id="" cols="30" rows="5">Reply</textarea>
    </form>
  </div>
  <div class="compose-btn pull-right">
      <a class="btn  btn-success" ng-click='mailCtrl.send("RE: "+mailDCtrl.mail.subject, mailDCtrl.mail.from.objectId)'> Reply Mail</a>
  </div>
</div>